@import 'tailwindcss';
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/User/**/*';
@source '../../../../resources/views/filament/user/**/*';

@import '../user/topbar.css';

.fi-body {
    @apply bg-gray-100 dark:bg-gray-900 border-none;
}